[submodule "vite"]
	path = f2e/vite
	url = git@github.com:vitejs/vite.git
[submodule "element-plus"]
	path = f2e/element-plus
	url = git@github.com:element-plus/element-plus.git
[submodule "vue-vben-admin"]
	path = f2e/vue-vben-admin
	url = git@github.com:vbenjs/vue-vben-admin.git
[submodule "vue-vben-admin-doc"]
	path = f2e/vue-vben-admin-doc
	url = git@github.com:vbenjs/vue-vben-admin-doc.git
[submodule "vue-pure-admin"]
	path = f2e/vue-pure-admin
	url = git@github.com:pure-admin/vue-pure-admin.git
[submodule "vuestic-admin"]
	path = f2e/vuestic-admin
	url = git@github.com:epicmaxco/vuestic-admin.git
[submodule "pure-admin-doc"]
	path = f2e/pure-admin-doc
	url = git@github.com:pure-admin/pure-admin-doc.git
[submodule "llm/tutorials-LangChain"]
	path = llm/tutorials-LangChain
	url = git@github.com:sophiamyang/tutorials-LangChain.git
[submodule "webgis/turf"]
	path = webgis/turf
	url = git@github.com:Turfjs/turf.git
[submodule "llm/llm-course"]
	path = llm/llm-course
	url = git@github.com:mlabonne/llm-course.git
[submodule "llm/llm-action"]
	path = llm/llm-action
	url = git@github.com:liguodongiot/llm-action.git
[submodule "web3d/threejs"]
	path = web3d/threejs
	url = git@github.com:mrdoob/three.js.git
[submodule "web3d/awesome-webgpu"]
	path = web3d/awesome-webgpu
	url = git@github.com:mikbry/awesome-webgpu.git
[submodule "f2e/vueuse"]
	path = f2e/vueuse
	url = git@github.com:vueuse/vueuse.git
[submodule "f2e/vue-motion"]
	path = f2e/vue-motion
	url = git@github.com:vueuse/motion.git
[submodule "f2e/vue-gesture"]
	path = f2e/vue-gesture
	url = git@github.com:vueuse/gesture.git
